
Completed Classes/ALA100/.DS_Store
Completed Classes/ALA100/Design Matrix 720p.mov
Completed Classes/ALA100/Design Matrix.xlsx
Completed Classes/ALA100/Seat Collage.pdf
Completed Classes/ASU101/.DS_Store
Completed Classes/ASU101/Academic_Plan_Worksheet2021SUMB.docx
Completed Classes/ASU101/Work Life Balance 2021 ASU 101.docx
Completed Classes/ASU101/Yellowdig Introduction.docx
Completed Classes/ENG 102/Assignment Tracker.xlsx
Completed Classes/ENG 102/Brainstorming Topic Discussion.docx
Completed Classes/ENG 102/Burns.png
Completed Classes/ENG 102/First Reflection.docx
Completed Classes/ENG 102/First Reflection.pdf
Completed Classes/ENG 102/Picture1.png
Completed Classes/ENG 102/Project 1 Analysis Plan.docx
Completed Classes/ENG 102/Project 1 Analysis Plan.pdf
Completed Classes/ENG 102/Project 1 Feedback Draft.docx
Completed Classes/ENG 102/Project 1 Feedback Draft.pdf
Completed Classes/ENG 102/Project 1 Research.docx
Completed Classes/ENG 102/Project 1 Research.pdf
Completed Classes/ENG 102/Project 1 Revised Draft.docx
Completed Classes/ENG 102/Project 1 Revised Draft.pdf
Completed Classes/ENG 102/Project 2 Argument Plan.docx
Completed Classes/ENG 102/Project 2 Argument Plan.pdf
Completed Classes/ENG 102/Project 2 Feedback Draft.docx
Completed Classes/ENG 102/Project 2 Feedback Draft.pdf
Completed Classes/ENG 102/Project 2 Research.docx
Completed Classes/ENG 102/Project 2 Research.pdf
Completed Classes/ENG 102/Project 2 Revised Draft.docx
Completed Classes/ENG 102/Project 2 Revised Draft.pdf
Completed Classes/ENG 102/Real-World Genre Analysis Discussion.docx
Completed Classes/ENG 102/Second Reflection.docx
Completed Classes/ENG 102/Second Reflection.pdf
Completed Classes/ENG 102/Third Reflection.docx
Completed Classes/ENG 102/Third Reflection.pdf
Completed Classes/ENG 102/TooManyReferences.jpeg
Completed Classes/ENG101/.DS_Store
Completed Classes/ENG101/David_BackShot_Artistic_GrassField.html
Completed Classes/ENG101/First Reflection v2.pdf
Completed Classes/ENG101/Project 1 Feedback Draft.docx
Completed Classes/ENG101/Project 1 Feedback Draft.pdf
Completed Classes/ENG101/Project 1 Revised Draft.docx
Completed Classes/ENG101/Project 1 Revised Draft.pdf
Completed Classes/ENG101/Project 1 Topic Proposal.docx
Completed Classes/ENG101/Project 1 Topic Proposal.pdf
Completed Classes/ENG101/Project 2 Feedback Draft.docx
Completed Classes/ENG101/Project 2 Feedback Draft.pdf
Completed Classes/ENG101/Project 2 Infographic Exploration.docx
Completed Classes/ENG101/Project 2 Infographic Exploration.pdf
Completed Classes/ENG101/Project 2 Primary Research.docx
Completed Classes/ENG101/Project 2 Primary Research.pdf
Completed Classes/ENG101/Project 2 Revised Draft.docx
Completed Classes/ENG101/Project 2 Revised Draft.pdf
Completed Classes/ENG101/Reflection 3.docx
Completed Classes/ENG101/Reflection 3.pdf
Completed Classes/ENG101/Second Reflection (Master).docx
Completed Classes/ENG101/Second Reflection.pdf
Completed Classes/MAT 266/stewart_reference_pages.pdf
Completed Classes/MAT 266/Test 1 Scratch Paper.pdf
Completed Classes/MAT 266/Test 2 Scratch Paper.pdf
Completed Classes/MAT117/117sylfall22A-jb.pdf
Completed Classes/MAT117/MAT117 Module A Problem Set.pdf
Completed Classes/MAT117/Module C Problem Set.pdf
Completed Classes/MAT265/Piecewise Defined Functions.pdf
Completed Classes/PHY101/.DS_Store
Completed Classes/PHY101/01_lecture_base.pptx
Completed Classes/PHY101/02_lecture_base.pptx
Completed Classes/PHY101/03_lecture_base.pptx
Completed Classes/PHY101/04_lecture_base.pptx
Completed Classes/PHY101/07_lecture_base.pptx
Completed Classes/PHY101/09_lecture_base.pptx
Completed Classes/PHY101/Activity_01_Measure_the_sun_vf20.pdf
Completed Classes/PHY101/Activity_02_Forces_vf2023.pdf
Completed Classes/PHY101/Activity_03_Free_fall_v20.pdf
Completed Classes/PHY101/Activity_04_Newton's laws_v20.pdf
Completed Classes/PHY101/Activity_05_.Energy_v20.pdf
Completed Classes/PHY101/Activity_06_Electricity_v20.pdf
Completed Classes/PHY101/Equations_Exam1_v2.pdf
Completed Classes/PHY101/Lab 06 - Electricty.docx
Completed Classes/PHY101/Lab 06 - Electricty.pdf
Completed Classes/PHY101/Lab03 - Free Fall.docx
Completed Classes/PHY101/Lab03 - Free Fall.pdf
Completed Classes/PHY101/Lab04 - Newton's Laws.docx
Completed Classes/PHY101/Lab04 - Newton's Laws.pdf
Completed Classes/PHY101/Lab05 - Energy.docx
Completed Classes/PHY101/Lab05 - Energy.pdf
Completed Classes/PHY101/Lab07 - Greenhouse Effect.docx
Completed Classes/PHY101/Lab07 - Greenhouse Effect.pdf
Completed Classes/PHY101/Lab08 - Rutherford's Experiment.docx
Completed Classes/PHY101/Lab08 - Rutherford's Experiment.pdf
Completed Classes/PHY101/Lab1 - Measure the Sun.docx
Completed Classes/PHY101/Lab2 - Forces.docx
Completed Classes/PHY101/Lab2 - Forces.pdf
Completed Classes/PHY101/~$b01 - Greenhouse Effect.docx
ID_Photo.JPG
CSE 205 - Object-Oriented Programming and Data Structures/Miderm Study Guide Answer key.docx
CSE 205 - Object-Oriented Programming and Data Structures/Java Sandbox/.vscode/settings.json
CSE 205 - Object-Oriented Programming and Data Structures/Java Sandbox/Main.java
